button {
  display: inline-block;
}

#count {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

#logo {
  background-image: url('../assets/holberton-logo.jpg');
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}